.back{
    background-color: #eee;
    height: 30px;
    width: 100%;
    position: relative;
    i{
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('./imgs/back.png');
        background-size: cover;
        left: 5px;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
    h3{
        text-align: center;
        line-height: 30px;
    }
}