.btn {
  text-align: center;
  button {
    width: 50%;
    color: #fff;
    background-color: #40a9ff;
    border-color: #40a9ff;
    outline: 0;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 5px;
    border: 1px solid #40a9ff;
    height: 30px;
  }
}
