.cell{
    display: flex;
    padding: 10px 10px;
    // height: 50px;
    align-items: center;
    background: rgba($color: #eee, $alpha: .7);
    img{
        width: 15%;
    }
    .con{
        width: 80%;
        margin-left: 3%;
        position: relative;
        h3{
            font-size: .3rem;
            line-height: 20px;
            // margin-top: 5px;
        }
        p{
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
        }
    }
    p.date{
        text-align: right;
        font-size: 80%;
        margin-top: 25px;
    }
}
