.actions{
    ul.type{
        padding: 10px;
        overflow: hidden;
        position: relative;
        li{
            font-size: 12px;
            // font-weight: 600;
            line-height: 30px;
            float: left;
            margin-right: 30px;
            &:nth-child(3){
                position: absolute;
                right: 0;
            }
        }
    }
    .top{
        display: flex;
        align-items: center;
        padding: 5px 10px;
        position: relative;
        img{
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
        span{
            margin-left: 10px;
            font-size: 12px;
        }
        input{
            background: #4e72b8;
            color: #fff;
            border: none;
            border-radius: 10px;
            padding: 0  10px;
            line-height: 20px;
            position: absolute;
            right: 40px;
        }
        i{
            width: 20px;
            height: 20px;
            background-image: url('./imgs/xiala.png');
            background-size: cover;
            position: absolute;
            right: 10px;
        }
    }
    .bot{
        padding: 0 55px;
        .title{
            font-size: 14px;
            line-height: 30px;
            color: #000;
        }
        .con{
            img{
                max-width: 100%;
                border-radius: 10px;
            }
        }
        .buttons{
            width: 100%;
            display: flex;
            height: 20px;
            align-items: center;
            overflow: hidden;
            margin: 5px 0;
            p{
                display: flex;
                align-items: center;
                margin-right: 50px;
                font-size: 14px;
                i{
                    width: 15px;
                    height: 15px;
                    background-size: cover;
                    margin-right: 10px;
                }
                &:nth-child(1){
                    i{
                        background-image: url('./imgs/msg.png');
                    }
                }
                &:nth-child(2){
                    i{
                        background-image: url('./imgs/heart.png');
                    }
                }
            }
        }
    }
    .comment{
        margin-top: 10px;
        ul{
            li{
                display: flex;
                span{
                    margin-right: 5px;
                }
            }
        }

    }
}