.detail {
  .btns {
    .tosend {
      width: 50%;
      color: #fff;
      background: #eee;
      border: 1px solid #eee;
      border-radius: 5px;
      background-color: #1890ff;
      border-color: #1890ff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
      display: block;
      margin: 0 auto;
    }
  }
}
