.login {
  ul {
    li {
      display: flex;
      width: 70%;
      margin: 10px auto;
      height: 30px;
      font-size: 16px;
      text-align: center;
      input {
        font-size: 14px;
        line-height: 25px;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
        text-indent: 10px;
        background: none;
        &:focus {
          border-bottom-color: #66afe9;
          border-bottom-width: 2px;
          outline: 0;
        }
      }
      i {
        width: 70px;
        text-align: center;
        line-height: 25px;
      }
    }
  }
}
