.chatinfo{
  width: 100%;
  height: 100%;
  .back{
    position: fixed;
    width: 100%;
    top: 0;
  }
  ul{
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 0 10px;
    li{
      width: 100%;
      font-size: 16px;
      margin: 3px 0;
    }
    .me{
      text-align: right;
    }
  }
  .ipt{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: grey;
    input{
      width: 80%;
      line-height: 25px;
      background: #fff;
    }
    button{
      width: 20%;
      line-height: 25px;
      background: none;
      border: 1px solid gray;
    }
  }
}