.header{
    font-size: 16px;
    background-color: rgba($color: #eee, $alpha: 1.0);
    text-align: center;
    line-height: 32px;
    position: relative;
    i{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: 28px;
        width: 28px;
        background-image: url('./imgs/back.png');
        background-size: cover;
        opacity: .5;
        margin: auto 0;
    }
}