.home{
    .top{
        // padding: 5px 0;
        background-color: #eee;
        position: relative;
        height: 30px;
        h3{
            text-align: center;
            line-height: 30px;
        }
        i{
            position: absolute;
            right: 10px;
            top:0;
            bottom: 0;
            width: 20px;
            height: 20px;
            background-image: url('./imgs/add.png');
            background-size: cover;
            margin: auto 0;
        }
    }
    ul{
        li{
           display: flex;
            align-items: center;
            padding: 6px 15px;
            border-bottom: 1px solid #eee;
            img{
                width: 35px;
                height: 35px;
                border-radius: 10px;
            }
            span{
                margin-left: 20px;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}
