.login_body {
    height: 100%;
    padding-top: 15px 0;
    section {
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        li {
          text-align: center;
          width: 100%;
          height: 50px;
          margin: 5px 0;
          input {
            font-size: 18px;
            line-height: 40px;
            width: 70%;
            background: none;
            border: none;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
            text-indent: 10px;
            &:focus {
              border-bottom-color: #66afe9;
              border-bottom-width: 2px;
              outline: 0;
            }
          }
        }
      }
      .forget {
        position: absolute;
        right: 15%;
      }
      .third {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
          text-align: center;
          i {
            display: block;
            width: 25px;
            height: 25px;
            margin: 0 auto;
            margin-bottom: 3px;
            background-size: cover;
          }
          &:nth-child(1) {
            i {
              background-image: url("./imgs/qq.png");
            }
          }
          &:nth-child(2) {
            i {
              background-image: url("./imgs/wechat.png");
            }
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }


  .login_logo{
    margin: 40px 0;
    section{
        text-align: center;
        img{
            width: 130px;
        }
    }
}